In [15]:
import warnings
warnings.filterwarnings('ignore')

In [16]:

import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [17]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [18]:

# Load the data
file_path = Path('Resources/2019loans.csv')
df = pd.read_csv(file_path)

df.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,57107,57107,13375.0,0.1797,483.34,MORTGAGE,223000.0,Not Verified,low_risk,n,...,100.0,50.0,0.0,0.0,577150.0,122018.0,32000.0,170200.0,N,N
1,141451,141451,21000.0,0.1308,478.68,MORTGAGE,123000.0,Source Verified,low_risk,n,...,85.0,33.3,0.0,0.0,132750.0,27896.0,15900.0,35398.0,N,N
2,321143,321143,20000.0,0.1240,448.95,MORTGAGE,197000.0,Source Verified,low_risk,n,...,85.7,33.3,0.0,0.0,628160.0,114043.0,22600.0,90340.0,N,N
3,11778,11778,3000.0,0.1240,100.22,RENT,45000.0,Not Verified,low_risk,n,...,100.0,16.7,1.0,0.0,42006.0,20761.0,19900.0,15406.0,N,N
4,169382,169382,30000.0,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,low_risk,n,...,100.0,66.7,0.0,0.0,283248.0,109056.0,79500.0,58778.0,N,N

# Split into Training and Testing

In [19]:
# Create our features
X= df.drop(columns="loan_status")

# Create our target
y=df["loan_status"]
X

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,57107,57107,13375.0,0.1797,483.34,MORTGAGE,223000.0,Not Verified,n,29.99,...,100.0,50.0,0.0,0.0,577150.0,122018.0,32000.0,170200.0,N,N
1,141451,141451,21000.0,0.1308,478.68,MORTGAGE,123000.0,Source Verified,n,11.26,...,85.0,33.3,0.0,0.0,132750.0,27896.0,15900.0,35398.0,N,N
2,321143,321143,20000.0,0.1240,448.95,MORTGAGE,197000.0,Source Verified,n,11.28,...,85.7,33.3,0.0,0.0,628160.0,114043.0,22600.0,90340.0,N,N
3,11778,11778,3000.0,0.1240,100.22,RENT,45000.0,Not Verified,n,18.08,...,100.0,16.7,1.0,0.0,42006.0,20761.0,19900.0,15406.0,N,N
4,169382,169382,30000.0,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,n,27.77,...,100.0,66.7,0.0,0.0,283248.0,109056.0,79500.0,58778.0,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,354912,354912,19975.0,0.2565,801.09,RENT,28000.0,Not Verified,n,28.42,...,100.0,16.7,0.0,0.0,50055.0,28192.0,18700.0,19055.0,N,N
12176,354944,354944,15000.0,0.1774,540.34,RENT,50000.0,Verified,n,23.43,...,90.5,11.1,0.0,0.0,70324.0,57025.0,13300.0,54824.0,N,N
12177,354973,354973,3600.0,0.1862,131.28,RENT,60000.0,Not Verified,n,28.80,...,100.0,0.0,0.0,0.0,83765.0,55156.0,14800.0,53065.0,N,N
12178,355002,355002,15000.0,0.0881,475.68,MORTGAGE,62000.0,Source Verified,n,11.44,...,100.0,0.0,0.0,0.0,189930.0,23748.0,7000.0,32930.0,N,N
12179,355307,355307,15000.0,0.1774,540.34,RENT,54080.0,Not Verified,n,21.66,...,90.0,100.0,0.0,0.0,48968.0,29786.0,2900.0,33968.0,N,N

In [20]:
#print(df.columns)
dummy = pd.get_dummies(df)
dummy.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,loan_status_low_risk,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,57107,57107,13375.0,0.1797,483.34,223000.0,29.99,0.0,0.0,15.0,...,1,1,0,1,1,0,1,0,1,0
1,141451,141451,21000.0,0.1308,478.68,123000.0,11.26,2.0,0.0,16.0,...,1,1,0,1,1,0,1,0,1,0
2,321143,321143,20000.0,0.1240,448.95,197000.0,11.28,0.0,0.0,12.0,...,1,1,0,1,1,0,1,0,1,0
3,11778,11778,3000.0,0.1240,100.22,45000.0,18.08,0.0,0.0,12.0,...,1,1,0,1,1,0,1,0,1,0
4,169382,169382,30000.0,0.1612,1056.49,133000.0,27.77,0.0,2.0,13.0,...,1,1,0,1,1,0,1,0,1,0

In [21]:
# Create our features
X= dummy.drop(columns="loan_status_low_risk")

# Create our target
y=dummy["loan_status_low_risk"]
X

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,loan_status_high_risk,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,57107,57107,13375.0,0.1797,483.34,223000.0,29.99,0.0,0.0,15.0,...,0,1,0,1,1,0,1,0,1,0
1,141451,141451,21000.0,0.1308,478.68,123000.0,11.26,2.0,0.0,16.0,...,0,1,0,1,1,0,1,0,1,0
2,321143,321143,20000.0,0.1240,448.95,197000.0,11.28,0.0,0.0,12.0,...,0,1,0,1,1,0,1,0,1,0
3,11778,11778,3000.0,0.1240,100.22,45000.0,18.08,0.0,0.0,12.0,...,0,1,0,1,1,0,1,0,1,0
4,169382,169382,30000.0,0.1612,1056.49,133000.0,27.77,0.0,2.0,13.0,...,0,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,354912,354912,19975.0,0.2565,801.09,28000.0,28.42,0.0,0.0,15.0,...,1,1,0,1,1,0,1,0,1,0
12176,354944,354944,15000.0,0.1774,540.34,50000.0,23.43,4.0,0.0,16.0,...,1,1,0,1,1,0,1,0,1,0
12177,354973,354973,3600.0,0.1862,131.28,60000.0,28.80,0.0,1.0,14.0,...,1,1,0,1,1,0,1,0,1,0
12178,355002,355002,15000.0,0.0881,475.68,62000.0,11.44,0.0,0.0,5.0,...,1,1,0,1,0,1,1,0,1,0
12179,355307,355307,15000.0,0.1774,540.34,54080.0,21.66,1.0,1.0,5.0,...,1,1,1,0,1,0,1,0,1,0

In [22]:
X.describe()

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,loan_status_high_risk,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
count,12180.000000,12180.000000,12180.000000,12180.000000,12180.000000,1.218000e+04,12180.000000,12180.000000,12180.000000,12180.000000,...,12180.000000,12180.0,12180.000000,12180.000000,12180.000000,12180.000000,12180.000000,12180.000000,12180.000000,12180.000000
mean,187893.694745,187893.694745,17399.579228,0.140899,509.150241,8.989320e+04,22.589516,0.256979,0.566502,12.680296,...,0.500000,1.0,0.083908,0.916092,0.853859,0.146141,0.971429,0.028571,0.999589,0.000411
std,99710.342179,99710.342179,10238.160884,0.052679,294.617726,1.684370e+05,23.903223,0.803027,0.814674,6.154663,...,0.500021,0.0,0.277261,0.277261,0.353262,0.353262,0.166605,0.166605,0.020258,0.020258
min,24.000000,24.000000,1000.000000,0.060000,30.890000,5.000000e+02,0.100000,0.000000,0.000000,2.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,104269.250000,104269.250000,10000.000000,0.103300,286.902500,5.000000e+04,14.500000,0.000000,0.000000,8.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
50%,190128.000000,190128.000000,15000.000000,0.130800,438.530000,7.300000e+04,20.375000,0.000000,0.000000,11.000000,...,0.500000,1.0,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,274595.750000,274595.750000,25000.000000,0.177400,682.230000,1.035850e+05,27.290000,0.000000,1.000000,16.000000,...,1.000000,1.0,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,355312.000000,355312.000000,40000.000000,0.308400,1671.880000,9.682505e+06,999.000000,15.000000,5.000000,65.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [23]:
# Check the balance of our target values
y.value_counts()

1    6090
0    6090
Name: loan_status_low_risk, dtype: int64

In [24]:
# Split the X and y into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(X, 
                                                   y, 
                                                   random_state=1, 
                                                   stratify=y)
X_train.shape

(9135, 95)

In [25]:
scaler = StandardScaler()

# Fitting the scaler
X_scaler = scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# RandomForestClassifier model

In [26]:



# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier

brf = BalancedRandomForestClassifier(n_estimators=1000, random_state=1)
brf.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(n_estimators=1000, random_state=1)

In [27]:
# Calculated the balanced accuracy score
y_pred_brf = brf.predict(X_test_scaled)
bas_brf=balanced_accuracy_score(y_test, y_pred_brf)
print(bas_brf)

1.0

In [28]:
# Display the confusion matrix
cm_brf = confusion_matrix(y_test, y_pred_brf)
cm_df_brf = pd.DataFrame(
    cm_brf, index=["Actual High Risk", "Actual Low Risk"], columns=["Predicted High Risk", "Predicted Low Risk"]
)
cm_df_brf

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                 1522                   0
Actual Low Risk                     0                1523

In [29]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred_brf))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      1.00      1.00      1.00      1.00      1522
          1       1.00      1.00      1.00      1.00      1.00      1.00      1523

avg / total       1.00      1.00      1.00      1.00      1.00      1.00      3045

In [30]:
# List the features sorted in descending order by feature importance
importances = brf.feature_importances_
sorted(zip(brf.feature_importances_, X.columns), reverse=True)

[(0.610348964139401, 'loan_status_high_risk'),
 (0.04756379657056881, 'last_pymnt_amnt'),
 (0.024538048145646613, 'total_rec_prncp'),
 (0.021030295068321627, 'index'),
 (0.019754326099141135, 'total_rec_int'),
 (0.019464730424218823, 'Unnamed: 0'),
 (0.01911473637371169, 'total_pymnt'),
 (0.017861505556436945, 'total_pymnt_inv'),
 (0.015044698948211274, 'int_rate'),
 (0.012238322765449032, 'out_prncp'),
 (0.011536766206635365, 'out_prncp_inv'),
 (0.01146004002784505, 'installment'),
 (0.00797014433193549, 'total_rec_late_fee'),
 (0.0057596354130777, 'loan_amnt'),
 (0.00513495230744326, 'max_bal_bc'),
 (0.005038670173511844, 'mo_sin_old_rev_tl_op'),
 (0.0047363357426715, 'total_bc_limit'),
 (0.004551087359274096, 'total_rev_hi_lim'),
 (0.004549168781027833, 'bc_open_to_buy'),
 (0.00436063072952879, 'mo_sin_old_il_acct'),
 (0.0042758089799147265, 'dti'),
 (0.004181362846941793, 'avg_cur_bal'),
 (0.00414676374080716, 'revol_bal'),
 (0.0040488224507844615, 'annual_inc'),
 (0.0040054691459602484, 'tot_hi_cred_lim'),
 (0.003998995583593721, 'mths_since_recent_bc'),
 (0.003908404634271851, 'bc_util'),
 (0.0037468371541391167, 'total_il_high_credit_limit'),
 (0.003742400673419582, 'il_util'),
 (0.003709441547841203, 'tot_cur_bal'),
 (0.0036095894306983007, 'total_bal_il'),
 (0.003592250637325045, 'total_bal_ex_mort'),
 (0.003522207461225488, 'all_util'),
 (0.0034680946779748366, 'mo_sin_rcnt_rev_tl_op'),
 (0.00338451805388847, 'mths_since_recent_inq'),
 (0.0030905135744507145, 'acc_open_past_24mths'),
 (0.003087235857489476, 'mths_since_rcnt_il'),
 (0.002995452663539535, 'total_acc'),
 (0.0028967808542641827, 'num_il_tl'),
 (0.0027835225014314923, 'num_rev_accts'),
 (0.002707783599744418, 'mo_sin_rcnt_tl'),
 (0.002492994607854864, 'num_bc_tl'),
 (0.0024900468770130673, 'pct_tl_nvr_dlq'),
 (0.0023667860995070502, 'num_op_rev_tl'),
 (0.002318341861398268, 'num_sats'),
 (0.0022319187773048857, 'open_acc'),
 (0.002201074550623581, 'percent_bc_gt_75'),
 (0.0021983222994455313, 'inq_last_12m'),
 (0.0021172323289009283, 'open_rv_24m'),
 (0.002097654407834924, 'num_rev_tl_bal_gt_0'),
 (0.0020685568579743795, 'num_actv_rev_tl'),
 (0.00187011090477397, 'num_bc_sats'),
 (0.0018435731866850707, 'num_tl_op_past_12m'),
 (0.0018072966118936958, 'inq_fi'),
 (0.0017965494135190837, 'num_actv_bc_tl'),
 (0.001757185965591691, 'open_act_il'),
 (0.0016692405168450323, 'open_il_24m'),
 (0.0016348903994160202, 'total_cu_tl'),
 (0.0015624983804541058, 'mort_acc'),
 (0.0014807635752942996, 'inq_last_6mths'),
 (0.0013656088394835358, 'open_rv_12m'),
 (0.001327212441122051, 'open_acc_6m'),
 (0.0012074798985278374, 'hardship_flag_Y'),
 (0.0012046712484511239, 'tot_coll_amt'),
 (0.0011706102809787454, 'hardship_flag_N'),
 (0.0010780321777751907, 'open_il_12m'),
 (0.0010521737153316333, 'num_accts_ever_120_pd'),
 (0.0008573326384200709, 'delinq_2yrs'),
 (0.0005221074296516983, 'verification_status_Not Verified'),
 (0.0005220395917154088, 'home_ownership_MORTGAGE'),
 (0.000460271266563684, 'verification_status_Verified'),
 (0.00045816043508594144, 'verification_status_Source Verified'),
 (0.0004367381035440082, 'application_type_Individual'),
 (0.0004340675702952402, 'home_ownership_RENT'),
 (0.0004247412660937266, 'pub_rec'),
 (0.0004017690793603001, 'application_type_Joint App'),
 (0.000396655752034512, 'home_ownership_OWN'),
 (0.00037461801024095344, 'pub_rec_bankruptcies'),
 (0.00034848632074503503, 'initial_list_status_w'),
 (0.0003423321083120195, 'initial_list_status_f'),
 (0.0002959616171678505, 'num_tl_90g_dpd_24m'),
 (0.0001958849930342749, 'collections_12_mths_ex_med'),
 (8.18872862046069e-05, 'chargeoff_within_12_mths'),
 (5.700747876836391e-05, 'home_ownership_ANY'),
 (6.586733518597608e-06, 'debt_settlement_flag_N'),
 (6.296365655483124e-06, 'debt_settlement_flag_Y'),
 (4.174733589410926e-06, 'num_tl_30dpd'),
 (2.9437622343793552e-06, 'acc_now_delinq'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'delinq_amnt'),
 (0.0, 'collection_recovery_fee')]

# LogisticRegression model

In [31]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_train_scaled, y_train)

LogisticRegression(random_state=1)

In [32]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_test_scaled)
bas=balanced_accuracy_score(y_test, y_pred)
print(bas)

1.0

In [33]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(
    cm, index=["Actual High Risk", "Actual Low Risk"], columns=["Predicted High Risk", "Predicted Low Risk"]
)
cm_df

                  Predicted High Risk  Predicted Low Risk
Actual High Risk                 1522                   0
Actual Low Risk                     0                1523

In [34]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      1.00      1.00      1.00      1.00      1522
          1       1.00      1.00      1.00      1.00      1.00      1.00      1523

avg / total       1.00      1.00      1.00      1.00      1.00      1.00      3045

# Evaluation - Which model had the best balanced accuracy score?

In [35]:
print(f"In my analysis, both models have the same balanced accuracy score:")
print(f"     Balanced Random Forest Classifier = {bas_brf}")
print(f"     Easy Ensemble Classifier = {bas}")

In my analysis, both models have the same balanced accuracy score:
     Balanced Random Forest Classifier = 1.0
     Easy Ensemble Classifier = 1.0